<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" media="all" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="public/javascripts/vue.js"></script>

</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>{{sthanikName}}</h3>
                </div>
                <div class="col-md-6" style="text-align:right"><br>
                    <h3>Invoice: {{invoiceMonth}}</h3>
                </div>
            </div>
            <div><br></div>

            <div class="row" >
                <div class="col-md-6">Phone: {{sthanikContact}}</div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">Bill To</div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">{{customerName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">{{contactPerson}}</div>
                            </div>
                        </div>
                    </div>
					<template v-if="paymentCycle != 'Daily'">
                    <div class="row">
                        <div class="col-md-4">Invoice Date</div>
                        <div class="col-md-8">{{invoiceDate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Invoice Number</div>
                        <div class="col-md-8">{{invoiceNumber}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Due Date</div>
                        <div class="col-md-8">{{invoiceDueDate}}</div>
                    </div>
					<div class="row">
                        <div class="col-md-4">Invoice Total</div>
                        <div class="col-md-8">&#8377; {{formatAmount(invoiceTotal)}}</div>
                    </div>
					</template>
					<template v-else>
					<div class="row">
                        <div class="col-md-4">Delivery Total</div>
                        <div class="col-md-8">&#8377; {{formatAmount(deliveryTotal)}}</div>
                    </div>
					<div class="row">
                        <div class="col-md-4">Payment Total</div>
                        <div class="col-md-8">&#8377; {{formatAmount(paymentTotal)}}</div>
                    </div>
					<div class="row">
                        <div class="col-md-4"><strong>Balance Payment</strong></div>
                        <div class="col-md-8"><strong>&#8377; {{formatAmount(invoiceTotal)}}</strong></div>
                    </div>
					</template>
					
                </div>
            </div>
			<br/>

            <div>
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th scope="col" class="col-sm-4" style="text-align:justify;">Date (yyyy-mm-dd)</th>
                            <th scope="col" class="col-sm-3">Comments (if any)</th>
							<th scope="col" class="col-sm-3">Transaction Type</th>
                            <th scope="col" class="col-sm-2" style="text-align: right">Order Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex" v-for="order in orders">
                            <td scope="col" class="col-sm-4" style="text-align: justify">{{order.transactionDateString}}</td>
                            <td scope="col" class="col-sm-3"><span v-if="order.order_amount == 0">no order placed</span></td>
							<td scope="col" class="col-sm-3" style="text-align: justify">{{order.transactionType}}</td>
                            <td scope="col" class="col-sm-2" style="text-align: right">{{order.transactionAmount}}</td>
                        </tr>
                    </tbody>
                    <tr class="d-flex">
                        <td scope="col" class="col-sm-4" style="text-align: justify"></td>
                        <td scope="col" class="col-sm-6" style="text-align: right">Subtotal</td>
                        <td scope="col" class="col-sm-2" style="text-align: right">{{invoiceTotal}}</td>
                    </tr>
                    <tr class="d-flex">
                        <td scope="col" class="col-sm-4" style="text-align: justify"></td>
                        <td scope="col" class="col-sm-6" style="text-align: right">Tax</td>
                        <td scope="col" class="col-sm-2" style="text-align: right">{{invoiceTax}}</td>
                    </tr>
                    <tr class="d-flex">
                        <td scope="col" class="col-sm-4" style="text-align: justify"></td>
                        <td scope="col" class="col-sm-6" style="text-align: right">Other</td>
                        <td scope="col" class="col-sm-2" style="text-align: right">{{invoiceOther}}</td>
                    </tr>
                    <tr class="d-flex">
                        <td scope="col" class="col-sm-4" style="text-align: justify"></td>
                        <td scope="col" class="col-sm-6" style="text-align: right"><b>Total</b></td>
                        <td scope="col" class="col-sm-2" style="text-align: right"><b>&#8377; {{formatAmount(invoiceTotal)}}</b></td>
                    </tr>
                </table>
            </div>

            <div>
                <div class="row" style="border: 1px solid #ccc; border-radius:4px; text-align:center">
                    <div class="col-md-12"><strong>Terms and Conditions - Terms & Conditions are subject to change without any notification</strong></div>
                </div>
                <div class="row" style="border: 1px solid #ccc; border-radius:4px;">
                    <div class="col-md-6" style="border: 1px solid #ccc; border-radius:4px;">
                        <ul>
                            <li><small>Please make the payment on or before the due date of invoice.</small></li>
                            <li><small>Payments can be done in Cash or Cheque.</small></li>
                            <li><small>Please make all the Cheques payable to, <b>Sthanik Technology Solutions LLP</b>.</small> OR </li>
                            <li>
                                <small>Bank Details, Beneficiary Name: <b>Sthanik Technology Solutions LLP</b></small>
                                <ul>
                                    <li><small>Bank Name: <b>ICICI Bank Ltd</b></small></li>
                                    <li><small>Bank Account Number: <b>091505003251</b></small></li>
                                    <li><small>IFSC Code: <b>ICIC0000915</b></small></li>
                                </ul>
                                </small>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6" style="border: 1px solid #ccc; border-radius:4px;">
                        <ul>
                            <li><small>
                                If any invoiced amount is not received by the company, by the mentioned due date, then without limiting company's rights, the following will be applicable.
                                Those charges may accrue late interest @ 2% of the outstanding balance per week, or the maximum rate permitted by the law, whichever is lower.
                                We may condition future contract renewals/service renewals or suspend our services to you until such amount is paid in full.
                            </small></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div><br></div>
            <div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center"><small>If you have any questions about this invoice, please contact</small></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center"><small>Mr. Ganesh and Mr. Vijay, 9822780214/9921358216</small></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center"><small><b>Thank You For Your Business!</b></small></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            sthanikName: 'Sthanik Technology Solutions LLP',
            sthanikContact: '9822780214/9921358216',
            customerName: '',
            contactPerson: '',
            invoiceMonth: 'October 2018 to March 2019',
            invoiceDate: '05/04/2019',
            invoiceNumber: 76,
			paymentCycle: 'Daily', // Daily, Credit
            invoiceDueDate:'05/04/2019',
            invoiceTax:0,
            invoiceOther:0,
			deliveryTotal:0,
			paymentTotal:0,
            orders: []
        },
        mounted: function () {
            var startDate = "2018-08-01";
            var endDate = "2019-04-31";//https://sthanik.com/api/accountings/dashboard?1=1
            var customerId = '5bf68d64ab1c9e78d9f37884';
			var custId = 18;
			//var paymentCycle = 'Daily';
            //var url = "http://localhost:3000/orders?id="+custId+"&startDate="+startDate+"&endDate="+endDate;
			var url = "https://sthanik.com/api/accountings/dashboard?1=1&customerId="+customerId+"&dateFrom="+startDate+"&dateTo="+endDate+"";
			if(this.paymentCycle !== 'Daily') {
				url += '&transactionType=Delivery';
			}
			var headers = {
				
			};
			/*
            $.get(url, headers, function (data) {
                console.log(data);
                app.orders = data.response;
            });*/
			let accessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjViZjI1NDQ5ZWU4MDFkMjc5MjMyMjU0YSIsIm1vYmlsZSI6IjQwNzYwNzE1MjgiLCJlbWFpbCI6InNhY2h5YTM5QGdtYWlsLmNvbSIsInJvbGVzIjpbIlVTRVIiLCJTVEhBTklLX1NVUEVSQURNSU4iLCJTVEhBTklLX1VTRVIiLCJTVEhBTklLX0FETUlOIl0sInRlbXBUb2tlbiI6IiQyYSQxMCRzQm8uRldFd0J3WHJuRXFwLi9OMTNPeUg4T0tQZG1vTVB5dU5sVHI1VnFLMU5aYkdlNnE1TyIsImN1c3RvbWVySWQiOiIiLCJpYXQiOjE1NTQ5MDYzMTV9.cuJzgxphtcPzMKnRt9qp91pZYWsWeCCkH9axlsRkLpo";
			$.ajax({
				url: url,
				type: 'GET',
				dataType: 'json',
				headers: {
					'Accept': 'application/json',
					'Authorization': 'Bearer ' + accessToken
				},
				contentType: 'application/json; charset=utf-8',
				success: function (result) {
				   console.log(result);
				   app.orders = result.data;
				},
				error: function (error) {
					
				}
			});
			
			$.ajax({
				url: "https://sthanik.com/api/customers/"+customerId,
				type: 'GET',
				dataType: 'json',
				headers: {
					'Accept': 'application/json',
					'Authorization': 'Bearer ' + accessToken
				},
				contentType: 'application/json; charset=utf-8',
				success: function (result) {
				   console.log(result);
				   app.customerName = result.data.customerName;
				},
				error: function (error) {
					
				}
			});
			/*
            $.get("http://localhost:3000/customers?id="+custId, function (data) {
                console.log(data);
                var custInfo = data.response[0];
                app.customerName = custInfo.customer_name;
                app.contactPerson = custInfo.contact_name;
            });
			*/
        },

        created: function() {
            //var custId = app.custId;
            
        },
        computed: {
            invoiceTotal(){
                let tempDeliveryTotal = 0;
				let tempPaymentTotal = 0;
                for(let i=0;i<this.orders.length;i++){
					if(this.orders[i].transactionType === 'Delivery') {
						tempDeliveryTotal = tempDeliveryTotal +  this.orders[i].transactionAmount;
					} else if(this.orders[i].transactionType === 'Payment') {
						tempPaymentTotal = tempPaymentTotal +  this.orders[i].transactionAmount;
					}
                }
				this.deliveryTotal = tempDeliveryTotal;
				this.paymentTotal = tempPaymentTotal;
                return (tempDeliveryTotal - tempPaymentTotal);
            },
            
        },

        methods: {
            calcInvoiceTotal(){
                var total = 20;
                for(var i=0;i<this.orders.length;i++){
                    total = total +  this.orders[i].transactionAmount;
                }
                //app.invoiceTotal  = total;
            },
            formatAmount(amount) {
                //var amount = app.invoiceTotal;
                var decimalCount = 2;
                var decimal = '.';
                var thousands = ',';
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

                    const negativeSign = amount < 0 ? "-" : "";

                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;

                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
                } catch (e) {
                    console.log(e)
                }
            }
        },
    })
</script>