/*
    styling the cards
*/

.auto-grid {
  --auto-grid-min-size: 15rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
}

.auto-grid-ek-100 {
  --auto-grid-min-size: 8rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.5rem;
}

.auto-grid-abcd {
  --auto-grid-min-size: 8rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.5rem;
}

.auto-grid-ank {
  --auto-grid-min-size: 10rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.25rem;
}

.auto-grid-ucchar {
  --auto-grid-min-size: 15rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.5rem;
}

.auto-grid-anuswar {
  --auto-grid-min-size: 6rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.5rem;
}


.auto-grid-ekmatra {
  --auto-grid-min-size: 6rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.25rem;
}

.auto-grid-ekkanamatra {
  --auto-grid-min-size: 6rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.25rem;
}


.auto-grid-barakhadi {
  --auto-grid-min-size: 7rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.25rem;
}

.auto-grid-words {
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.25rem;
  margin: 10px;
}

.auto-grid-randomm {
  --auto-grid-min-size: 14rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.25rem;
  margin: 10px;
}

.auto-grid-numpad {
  --auto-grid-min-size: 8rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.25rem;
}

.auto-grid-screen {
  --auto-grid-min-size: 8rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.5rem;
  margin: 15px;
  
}

.auto-grid-ank-random {
  --auto-grid-min-size: 8rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 0.25rem;
}


body {
  background: #ffffff;
  margin: 2px;
}

li.mulakshar {
  padding: 0.5rem;
  background-color: #029191;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(3vw + 3vh + 2vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #029191;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.words {
  padding: 0.5rem;
  /* background-color: #4b1b1b; */
  font-family: genericUnicode;
  color: #403c35;
  text-align: left;
  font-size: calc(2vw + 2vh + 2vmin);
  text-decoration: none;
  border: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  position: relative;
  /* box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1); */
  /* border-left: 4px solid #4b1b1b; */
  /* text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7); */
}

li.abcd {
  padding: 0.5rem;
  background-color: #e67e22;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(5vw + 5vh + 3vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e67e22;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.ank {
  padding: 0.5rem;
  background-color: #fc5c65;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(5vw + 5vh + 3vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #fc5c65;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.anuswar {
  padding: 0.3rem;
  background-color: #880e4f;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(4vw + 4vh + 2.5vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #880e4f;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.ekmatra {
  padding: 0.3rem;
  background-color: #027878;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(4vw + 4vh + 2.5vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #027878;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.ekkanamatra {
  padding: 0.3rem;
  background-color: #4086AA;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(4vw + 4vh + 2.5vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #4086AA;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}


li.abcd {
  padding: 0.5rem;
  background-color: #e67e22;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(5vw + 5vh + 3vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 2px solid #e67e22;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.ek-100 {
  padding: 0.5rem;
  background-color: #961a42;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(3vw + 3vh + 2vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #961a42;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.ucchar {
  padding: 0.6rem;
  background-color: #03b2b2;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(6vw + 6vh + 3vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #03b2b2;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}
label {
  letter-spacing: 15px;
}

li.numpad {
  background-color: #9E1030FF;
  font-family: numpadUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(4vw + 4vh + 2vmin);
  text-decoration: none;
  border: none;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #9E1030FF;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.screen {
  background-color: #9E1030FF;
  font-family: numpadUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(1.5vw + 1.5vh + 1.5vmin);
  text-decoration: none;
  border: none;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

li.ank-random {
  background-color: #9E1030FF;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(5vw + 5vh + 4vmin);
  text-decoration: none;
  border: none;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #9E1030FF;
  text-shadow: 1.7px 1.7px 1.7px rgba(0, 0, 0, 0.7);
}

@keyframes fadeEffect {
  50% {
    background: #f6f6f6;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
body, #root {
  margin: 0;
  padding: 0;
  border: #e1c351;
  border-style: solid;
  border-width: 5px;
  justify-content: center;
  /* background: url('./../assets/brand.png') no-repeat center center fixed;  */
  background-color: #ebe8df;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: visible !important;
}


@font-face {
  font-family: genericUnicode;
  src: url("./../fonts/notosans.ttf");
}

@font-face {
  font-family: numpadUnicode;
  src: url("./../fonts/rhodium.ttf");
}

.disableTextSelection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

.container {
  margin-bottom: 72px;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-left: -2px;
  height: 70px;
  width: 100%;
  color: #000;
  background-color: #fff;
  box-shadow: 3px 0px 3px 0px #961a42;
}

.back-button {
  margin-top: 12px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.center-div {
  display: flex;
  justify-content: center;
}

.numpad-text-div {
  display: flex;
  justify-content: center;
  font-family: numpadUnicode;
  font-size: 18rem;
  text-decoration: none;
  border: none;
  color:#00A4CCFF;
  position: relative;
}

.footer-numpad {
  position: fixed;
  bottom: 0;
  margin-left: -2px;
  height: auto;
  width: 100%;
  color: #000;
  background-color: #fff;
  box-shadow: 3px 0px 3px 0px #961a42;
}
