/*
    styling the cards
*/

.auto-grid {
  --auto-grid-min-size: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.auto-grid-ek-100 {
  --auto-grid-min-size: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0.5rem;
}

.auto-grid-abcd {
  --auto-grid-min-size: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0.5rem;
}

.auto-grid-ank {
  --auto-grid-min-size: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0.5rem;
}

.auto-grid-barakhadi {
  --auto-grid-min-size: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0.150rem;
}

body {
  background: #ffffff;
  margin: 2px;
}

li {
  padding: 1rem;
  background-color: #1f889d;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(3vw + 3vh + 2vmin);
  text-decoration: none;
}

li.mulakshar {
  padding: 0.5rem;
  background-color: #029191;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(3vw + 3vh + 2vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0,0,0,.1);
  border-left: 4px solid #029191;  
  text-shadow: 1.7px 1.7px 1.7px rgba(0,0,0,.7);
}

li.abcd{
  padding: 0.5rem;
  background-color: #e67e22;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(5vw + 5vh + 3vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0,0,0,.1);
  border-left: 2px solid #e67e22;  
  text-shadow: 1.7px 1.7px 1.7px rgba(0,0,0,.5);
  }


li.ank{
  padding: 0.5rem;
  background-color: #fc5c65;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(5vw + 5vh + 3vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0,0,0,.1);
  border-left: 4px solid #fc5c65;  
  text-shadow: 1.7px 1.7px 1.7px rgba(0,0,0,.7);
  }

li.ek-100{
  padding: 0.5rem;
  background-color: #961a42;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(3vw + 3vh + 2vmin);
  text-decoration: none;
  border: none;
  border-radius: 1px;
  position: relative;
  box-shadow: 3px 0px 3px 0px rgba(0,0,0,.1);
  border-left: 4px solid #961a42;  
  text-shadow: 1.7px 1.7px 1.7px rgba(0,0,0,.7);
  }

@keyframes fadeEffect{
  50% {background:  #f6f6f6};
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

@font-face {
  font-family: genericUnicode;
  src: url('./../fonts/eczar.ttf');
}

.disableTextSelection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}

/*==================================================
 * Effect 5
 * ===============================================*/
 .effect5
 {
   position: relative;
 }
 .effect5:before, .effect5:after
 {
   z-index: -1;
   position: absolute;
   content: "";
   bottom: 25px;
   left: 10px;
   width: 50%;
   top: 80%;
   max-width:300px;
   background: #777;
   -webkit-box-shadow: 0 35px 20px #777;
   -moz-box-shadow: 0 35px 20px #777;
   box-shadow: 0 35px 20px #777;
   -webkit-transform: rotate(-8deg);
   -moz-transform: rotate(-8deg);
   -o-transform: rotate(-8deg);
   -ms-transform: rotate(-8deg);
   transform: rotate(-8deg);
 }
 .effect5:after
 {
   -webkit-transform: rotate(8deg);
   -moz-transform: rotate(8deg);
   -o-transform: rotate(8deg);
   -ms-transform: rotate(8deg);
   transform: rotate(8deg);
   right: 10px;
   left: auto;
 }
 
.container{
  margin-bottom: 72px;
}

 .footer {
  position: fixed;
  bottom: 0;
  margin-left: -2px;
  height: 70px;
  width: 100%;
  color:#000;
  background-color: #FFF;
  box-shadow: 3px 0px 3px 0px #961a42;
}

.back-button{
  margin-top: 12px;
  font-size:40px; 
  display: flex;
  justify-content: center;
}

.center-div{
  display: flex;
  justify-content: center;
}