/*
    styling the cards
*/

.auto-grid {
  --auto-grid-min-size: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.auto-grid-ank {
  --auto-grid-min-size: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0.125rem;
}

.auto-grid-barakhadi {
  --auto-grid-min-size: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

body {
  background: #efefef;
  padding: 0.1rem;
}

li {
  padding: 1rem;
  background-color: #1f889d;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(3vw + 3vh + 2vmin);
  text-decoration: none;
}

li.mulakshar {
  padding: 1rem;
  background-color: #3AAFA9;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(3vw + 3vh + 2vmin);
  text-decoration: none;
}

li.ank{
  padding: 1rem;
  background-color: #43929A;
  font-family: genericUnicode;
  color: #fff;
  text-align: center;
  font-size: calc(3vw + 3vh + 2vmin);
  text-decoration: none;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

@font-face {
  font-family: genericUnicode;
  src: url('./../fonts/eczar.ttf');
}

.disableTextSelection {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}